@import "../../../styles/variables.scss";

.wrapper {
  .image {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }

  .text {
    width: 80%;
    margin: 0 auto;

    h1 {
      display: inline-flex;
      padding: 10px 30px;
      color: $color-zero;
      display: inline-flex;
      border-radius: 5px;
      font-size: 15px;
      padding: 15px 40px;
      background: linear-gradient(
      84deg
      , rgba(2,253,238,1) 0%, rgba(84,139,237,1) 100%);
    }
  }

  .buttons {
    margin-top: 20px;
    display: flex;

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      border-radius: 5px;
      padding: 15px 40px;
      border: none;
      cursor: pointer;
      width: 200px;
      font-size: 15px;
      font-weight: bold;
      font-family: "Poppins";

      img {
        width: 22px;
        margin-right: 8px;
      }

      &.trailer {
        background: #eee;
        color: $color-black;
        margin-right: 20px;
      }

      &.info {
        background: #989898;
        color: #fff;
      }
    }
  }
}

.wrapperLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  
  .loading {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 100px;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    animation: circle 1s linear infinite;
    
  
    .circle {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0%;
      top: 0%;
      border-radius: 50%;
  
      &:before {
        content: "";
        width: 30%;
        height: 30%;
        border-radius: 50%;
        background-color: $color-zero;
        position: absolute;
        top: -15%;
        left: 35%;
      }
  
      &.circle1 {
        transform: rotate(0);
        opacity: 0.2;
      }
      &.circle2 {
        transform: rotate(40deg);
        opacity: 0.4;
      }
      &.circle3 {
        transform: rotate(80deg);
        opacity: 0.5;
      }
      &.circle4 {
        transform: rotate(120deg);
        opacity: 0.8;
      }
      &.circle5 {
        transform: rotate(160deg);
        opacity: 1;
      }
    }
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}