@import "../../../styles/variables.scss";

.wrapper {
  .image {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 45vh;
    background-position: center;
    width: 100%;

    @media(min-width:900px) {
      height: 100vh;
    }
  }

  .text {
    width: 95%;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 10px;

    @media(min-width: 900px) {
      margin-top: 0;
      width: 80%;
    }

    h1 {
      color: $color-zero;
      font-size: 20px;

      @media(min-width: 900px) {
        font-size: 40px;
      }
    }

    .description {
      margin-top: 20px;

      @media(min-width: 1200px) {
        width: 33vw;
      }

      p {
        color: #FFF;
        font-size: 13px;
        font-weight: 300;        

        @media(min-width: 900px) {
          line-height: 26px;
          font-size: 22px;
        }
      }
    }
  }

  .buttons {
    margin-top: 20px;
    display: flex;

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      border-radius: 5px;
      padding: 8px 5px;
      border: none;
      cursor: pointer;
      width: 133px;
      font-size: 13px;
      font-weight: bold;
      font-family: "Poppins";

      @media(min-width: 900px) {
        font-size: 15px;
        padding: 15px 40px;
        width: 220px;
      }

      img {
        width: 12px;
        margin-right: 8px;

        @media(min-width: 900px) {
          width: 22px;
        }
      }

      &.trailer {
        background: #eee;
        color: $color-black;
        margin-right: 20px;
      }

      &.info {
        background: #989898;
        color: #fff;
      }
    }
  }
}